@import url('//hello.myfonts.net/count/3ba208');

@font-face {
	font-family: 'SerifGothicStd-Black';
	font-display: swap;
	src: url('SansSerifGothic-Black.woff2?v=3.13') format('woff2'),
		url('SansSerifGothic-Black.woff?v=3.13') format('woff');
}
